<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet"	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet"	href="/stylesheets/app.css">
		<link rel="stylesheet"	href="/stylesheets/about.css">
		<script src="https://cdn.tiny.cloud/1/2fqzsbjuvrxk4hh6gnj0gng4igz0tpepslrh6lkhflgw4jzg/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	</head>
	<body>
		
		<%- include('./partials/navbar') %>
		
		<div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="our-team">
                        <img src="images/1.jpg" alt="No Image Available">
                        <ul class="social">
                            <li><a target="_blank" href="https://www.facebook.com/vishesh.mittal.3591" class="fab fa-facebook"></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/elemento.24/" class="fab fa-instagram"></a></li>
                            <li><a target="_blank" href="https://github.com/Elemento24" class="fab fa-github"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/vishesh-mittal-9551a4199/" class="fab fa-linkedin"></a></li>
                            <li><a target="_blank" href="https://twitter.com/Vishesh30493930" class="fab fa-twitter"></a></li>
                        </ul>
                        <div class="team-content">
                            <h3 class="title">Elemento</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="our-team">
                        <img src="/images/2.jpeg" alt="No Image Available">
                        <ul class="social">
                            <li><a target="_blank" href="http://www.facebook.com/sidmirza4" class="fab fa-facebook"></a></li>
                            <li><a target="_blank" href="http://www.instagram.com/sidmirza4" class="fab fa-instagram"></a></li>
                            <li><a target="_blank" href="https://www.github.com/sidmirza4" class="fab fa-github"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/sidmirza4" class="fab fa-linkedin"></a></li>
                            <li><a target="_blank" href="https://www.twitter.com/sidmirza4" class="fab fa-twitter"></a></li>
                        </ul>
                        <div class="team-content">
                            <h3 class="title">Sid</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
	</body>
	
<script src="https://kit.fontawesome.com/49b4b0b11c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>
