<%- include('./partials/header') %>

<div class = 'container mt-4 formClass'>
	
	<div class = 'text-center'>
		<h1>Create a New Account!</h1>
	</div>
  
	<div>
		<form action = '/register' method = 'POST'>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" name='username' class="form-control" id="username" placeholder="Elemento" required>
			</div>
			<div class = 'form-group'>
				<label for= 'firstName'>First Name</label>
				<input type = 'text' name = 'firstName' class = 'form-control' placeholder = 'Colt' required>
			</div>
			<div class = 'form-group'>
				<label for= 'lastName'>Last Name</label>
				<input type = 'text' name = 'lastName' class = 'form-control' placeholder = 'Steele'>
			</div>
			<div class="form-group">
                <label for="email">E-Mail</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="learntocode123@gmail.com" required>
            </div>
            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input class="form-control" type="text" id="avatar" name="avatar" placeholder="https://i.stack.imgur.com/l60Hf.png">
            </div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name = 'password' class="form-control" id="password" placeholder="elemento_24" minlength = "6">
			</div>
			<div class="form-group">
                <label for="about">About You</label>
                <input class="form-control" type="text" id="about" name="about" placeholder="Tell us something about you...">
            </div>
            <div class="form-group">
                <label for="facebook">Facebook</label>
                <input class="form-control" type="text" id="facebook" name="facebook" placeholder="Facebook Profile Link">
            </div>
            <div class="form-group">
                <label for="instagram">Instagram</label>
                <input class="form-control" type="text" id="instagram" name="instagram" placeholder="Instagram Profile Link">
            </div>
            <div class="form-group">
                <label for="twitter">Twitter</label>
                <input class="form-control" type="text" id="twitter" name="twitter" placeholder="Twitter Profile Link">
            </div>
			<div class="form-group">
				<label for="adminCode">Admin Code</label>
				<input type="password" name = 'adminCode' class="form-control" id="adminCode" placeholder="Only for Admin">
			</div>
			<button type="submit" class="btn btn-primary float-right">Sign Up</button>
		</form>
	</div>
</div>

<%- include('./partials/footer') %>