.our-team{
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius:10px;
}
.our-team img{
    width: 100%;
    height: 600px;
    object-fit:cover;
    object-position:5% 10%;
    transition: all 0.5s ease-in-out 0s;
}
.our-team:hover img{ transform: scale(1.2); }
.our-team .social{
    list-style: none;
    padding: 30px 15px;
    margin: 0;
    background: #0facf3;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: 0;
    left: -50%;
    transition: all 0.4s ease-in-out 0s;
}
.our-team:hover .social{ left: 0; }
.our-team .social li{ display: block; }
.our-team .social li a{
    display: block;
    padding: 5px 0;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
}
.our-team .social li:first-child a{ padding-top: 0; }
.our-team .social li:last-child a{ padding-bottom: 0; }
.our-team .social li a:hover{ color: #000; }
.our-team .team-content{
    width: 100%;
    padding: 15px 10px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
}
.our-team .title{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 0 5px 0;
}
.our-team .post{
    display: block;
    font-size: 14px;
    color: #0facf3;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
