<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Users of Medium</title>
        <link rel="stylesheet" href="/stylesheets/blogs.css">
    </head>
    <body>
        <section class="vintalight" id="vintalight">
            
            <% users.forEach(function(user){ %>
                <figure class="vintalight__container">
                    <div class="vintalight__photo">
                        <span class="blogLink">/users/<%= user._id %></span>
                        <img class="vintalight__img" src="<%= user.avatar.secure_url %>?amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="<%= user.username %>">
                    </div>
                    <figcaption class="vintalight__caption">
                        <h3 class="vintalight__text"><%= user.username %></h3>
                    </figcaption>
                </figure>
            <% }); %>
        
        </section>
        <script src="/scripts/blogs.js"></script>
    </body>
</html>

